/* SelectDevice styles */
.selectDevice {
	height: 2.75rem;
	width: 5rem;
	border-radius: 9999px;
	background-color: rgba(255, 255, 255, 0.85);
	padding: 0 0.5rem;
	border: 1px solid rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(4px);
	color: transparent;
	padding-right: 1.75rem; /* space for arrow */
	box-sizing: border-box;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	cursor: pointer;
}

.selectDevice::-ms-expand {
	display: none;
}

.selectDevice option {
	color: transparent;
	background-color: transparent;
}

.selectDevice:focus {
	outline: none;
}

/* Device button container styles */
.deviceButtonContainer {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 9999px;
	backdrop-filter: blur(4px);
}

/* Device button styles */
.deviceButton {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 10;
	height: 2.75rem;
	width: 2.75rem;
	border-radius: 9999px;
	background-color: rgba(255, 255, 255, 0.85);
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid rgba(0, 0, 0, 0.1);
	cursor: pointer;
	backdrop-filter: blur(4px);
}

.deviceButtonIcon {
	display: flex;
}

.deviceButton:disabled {
	opacity: 0.5;
}

/* Screen reader only text */
.srOnly {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border-width: 0;
}

/* Controls container */
.controlsContainer {
	display: flex;
	gap: 1rem;
	justify-content: center;
	align-items: center;
}

.selectDeviceContainer {
	position: relative;
	display: flex;
	align-items: center;
}

.selectArrow {
	position: absolute;
	right: 0.75rem;
	pointer-events: none;
	display: flex;
	align-items: center;
	height: 100%;
}

.screenShareButton {
	cursor: pointer;
	position: relative;
	height: 2.75rem;
	width: 2.75rem;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 9999px;
	backdrop-filter: blur(4px);
	background-color: rgba(255, 255, 255, 0.85);
	border: 1px solid rgba(0, 0, 0, 0.1);
}
